<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>UltraSole</title>
    <link rel="stylesheet" href="style.css">
    
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- グラフがかけるAnyChart(ライブラリ) -->
    <script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <main>

        <!-- <script src="https://unpkg.com/vue"></script>

        <div id="app">
            <div v-for="(value1,index) in values1">
                <div v-if="index===values1.length-1">
                    <div v-for="(value2,index) in values2">
                        <div v-if="index===values2.length-1">
                            <div v-if="value1.value1<=value2.value2">
                                <div class="value1">value1の方が小さい</div>
                            </div>
                            <div v-if="value1.value1>=value2.value2">
                                <div class="value2">value2の方が小さい</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       -->

      <!-- シート１ -->
      <div class="seat" id="seat1">
        <div class="logo">
          <img src="image/logo.png">
        </div>
        <div class="coment">
            <p id="sendcoments">
                <img src="image/attention.png">
                内股になっていませんか？<br>
                外側を意識して使いましょう。
            </p>
        </div>
        <p class="about">詳しく見る >></p>
        <div class="footimage">
            <script src="https://unpkg.com/vue"></script>
            <div id="app">
                <div v-for="(value1,index) in values1">
                    <div v-if="index===values1.length-1">
                        <div v-for="(value2,index) in values2">
                            <div v-if="index===values2.length-1">
                                <div v-if="value1.value1<=value2.value2">
                                    <div class="value1">
                                        <img src="image/l1.png" class="foot l1 flash">
                                        <img src="image/l4.png" class="foot l4">
                                    </div>
                                </div>
                                <div v-if="value1.value1>=value2.value2">
                                    <div class="value2">
                                        <img src="image/l1.png" class="foot l1">
                                        <img src="image/l4.png" class="foot l4 flash">
                                    </div>
                                </div>
                                <div v-if="value1.value1===value2.value2">
                                        <div class="value2">
                                            <img src="image/l1.png" class="foot l1">
                                            <img src="image/l4.png" class="foot l4">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <img src="image/l1.png" class="foot l1"> -->
            <img src="image/value1.png" class="foot l1 yellow">
            <img src="image/l2.png" class="foot l2">
            <img src="image/l3.png" class="foot l3">
            <!-- <img src="image/l4.png" class="foot l4"> -->
            <img src="image/value2.png" class="foot l4 yellow">
            <img src="image/r1.png" class="foot r1">
            <img src="image/r2.png" class="foot r2">
            <img src="image/r3.png" class="foot r3">
            <img src="image/r4.png" class="foot r4">
        </div>
      </div>
       
      <!-- シート２ -->
      <div class="seat" id="seat2">
        <div class="logo">
          <img src="image/logo.png">
        </div>
        <p class="subtitle">マイリスト</p>

        <div class="input">
          <input type="text" value="スニーカー" id="mylist">
          <input type="text" value="革靴">
          <input type="text" value="革靴２">
          <input type="text" value="＋" style="color:white;">
        </div>

        <div class="mylist2">
          <p>スニーカー</p>
          <i class="fas fa-angle-left" id="mylistBack"></i>
          <div class="footimage">
            <img src="image/l1.png" class="foot lfoot l1">
            <img src="image/l2.png" class="foot lfoot l2">
            <img src="image/l3.png" class="foot lfoot l3">
            <img src="image/l4.png" class="foot lfoot l4">
          </div>
          <div class="button2">
            <button id="henkou">変更</button>
            <button id="kettei">決定</button>
          </div>
        </div>
      </div>

      <!-- シート３ -->
      <div class="seat" id="seat3">
        <div class="logo">
          <img src="image/logo.png">
        </div>
        <p class="subtitle">重心測定</p>

        <div id="gravity1">
          <p class="senntaku">選択してください</p>
          <div class="footimage">
            <img src="image/lft2.png" class="foot lfoot tfoot lft2">
            <img src="image/lfb2.png" class="foot lfoot bfoot lfb2">
            <img src="image/rft2.png" class="foot rfoot tfoot rft2">
            <img src="image/rfb2.png" class="foot rfoot bfoot rfb2">
          </div>
        </div>

        <div id="gravity2">
            <p class="senntaku">2019.05.17(Fri)</p>
            <i class="fas fa-angle-left" id="mylistBack"></i>

            <!-- vue.js発動 -->
            <div id="container">

            </div>
        </div>
      </div>

    </main>
    <footer>
      <button id="left"><i class="fas fa-shoe-prints"></i></button><button id="center"><i class="fas fa-bars"></i></button><button id="right"><i class="fas fa-user"></i></button>
    </footer>
    
    <script src="index.js"></script>
  </body>
</html>
