@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
/* * {
  margin: 0;
  padding: 0;
}

#app {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 16px 48px;
}

h1 {
  font-weight: 100;
  margin-bottom: 48px;
  position: fixed;
  background: rgba(#fff,.8);
}

.soles {
  max-width: 720px;
  margin: 80px auto;
}

.sole {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  padding: 8px;
  margin-bottom: 24px;
  &:hover {
    background: darken(#fff,5%);
    i.star {
      color: #FECA42;
    }
  }
  .title {
    font-size: 24px;
    line-hetght: 48px;
    margin-bottom: 24px;
  }
} */

*{
  margin:0 auto;
}
html,body{
  width: 100%;
  height:100%;
  /* iOS　safariでメニューバー消す */
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
main{
  /* padding-bottom: 76px; */
  height: 80vh;
}
.logo{
  width:50%;
  position: absolute;
  top:43px;
  margin-left:25%;
}

/* シート１ */
.button1{
  text-align: center;
  padding-top: 80px;
}
.button1 button{
  width:35%;
  line-height: 20px;
  padding: 5px 0px;
  color:white;
  margin-top:30px;
}
#auto{
  background-color: #4169e1;
  border:none;
}
#manual{
  background-color: #9daee0;
  border:none;
}
.seat{
  height: 100%;
}
#seat1{
  display: inline;
}
#seat2{
  display: none;
}
#seat3{
  display: none;
}
#seat1 p{
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
  margin:15px 0px;
}
#autoseat{
  display: inline;
}
#autoseat button{
  width: 80%;
  background-color: #4169e1;
  border:none;
  color:white;
  margin-top: 10px;
  margin-left: 10%;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 10px;
  padding: 3px 0px;
}
#manualseat{
  display: none;
}
.gradation{
  height:30px;
  width:60%;
  margin-left: 20% !important;
  margin-bottom: 0px !important;
  background: linear-gradient(90deg,#4169e1, 	#dceaf8);
}
.hard{
  width:30px !important;
  letter-spacing: 0px !important;
  position: absolute;
  margin :0px !important;
  left:calc(20% - 15px);
}
.soft{
  width: 30px !important;
  letter-spacing: 0px !important;
  position: absolute;
  margin :0px !important;
  left:calc(80% - 15px);
}

/* シート２ */
.subtitle{
  padding-top: 110px;
  text-align: center;
  color:#4169e1;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.input{
  margin-top: 20px;
  display: block;
  width: 100%;
}
.input input{
  width:70%;
  height:50px;
  margin-left: 14%;
  background-color: #D3D4DA;
  border: none;
  margin-bottom: 15px;
  color:#3f3f3f;
  font-size: 16px;
  padding-left: 20px;
}
.mylist2{
  display: none;
}
.mylist2 p{
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
  margin:15px 0px;
}

/* 足の画像 */
.footimage{
  position: relative;
  height:50vh;
}
.foot{
  width:110px;
  height:auto;
  position: absolute;
  margin-top: 10px;
}
.lfoot{
  left:60px;
}
.rfoot{
  right:60px;
}
.bfoot{
  top:175px;
}

/* footer */
footer{
  height: auto;
  padding-top: 20px;
  position: fixed;
  bottom: 0px;
}
footer button{
  padding: 10px 0px;
  border:none;
  border-top:solid 1px #4169e1;
  background-color: white;
  width:calc(100vw/3 - 3px);
}
footer i{
  font-size: 3em;
}
.fa-shoe-prints{
  transform: rotateZ(-90deg);
  width:50px;
}
#center{
  border-left:solid 1px #4169e1;
  border-right:solid 1px #4169e1;
}
#left{
  color:#4169e1;
}
#center{
  color:#858585;
}
#right{
  color:#858585;
}