@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

* {
  margin: 0;
  padding: 0;
}

#app {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 16px 48px;
}

h1 {
  font-weight: 100;
  margin-bottom: 48px;
  position: fixed;
  background: rgba(#fff,.8);
}

.soles {
  max-width: 720px;
  margin: 80px auto;
}

.sole {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  padding: 8px;
  margin-bottom: 24px;
  &:hover {
    background: darken(#fff,5%);
    i.star {
      color: #FECA42;
    }
  }
  .title {
    font-size: 24px;
    line-hetght: 48px;
    margin-bottom: 24px;
  }
}

*{
  margin:0 auto;
}
html,body{
  width: 100%;
  height:100%;
}
main{
  /* padding-bottom: 76px; */
  height: 80%;
}
.logo{
  height:20%;
}
.logo img{
  width:50%;
  position: absolute;
  top:43px;
  margin-left:25%;
}

/* 点滅 */
.value1{
  animation: flash 1s infinite linear;
}
.value2{
  animation: flash 1s infinite linear;
}
@keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}
@-webkit-keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.yellow{
  z-index:-1;
}



/* シート１ */
#auto{
  background-color: #4169e1;
  border:none;
}
.seat{
  height: 100%;
}
#seat1{
  display: inline;
}
#seat2{
  display: none;
}
#seat3{
  display: none;
}
.coment{
  width:80%;
  background-color: white;
  border: solid 2px #B3B3B3;
  border-radius: 10px;
  position: relative;
}
.coment img{
  width:25px;
  /* position: absolute; */
}
#sendcoments{
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 5px;
  margin:15px 0px;
  
}
.about{
  text-align: right;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 2px;
  margin:0;
  padding-right: 40px;
  color:#B3B3B3;
}

/* シート２ */
.subtitle{
  padding-top: 40px;
  text-align: center;
  color:#4169e1;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.input{
  margin-top: 20px;
  display: block;
  width: 100%;
}
.input input{
  width:70%;
  height:50px;
  margin-left: 14%;
  background-color: #D3D4DA;
  border: none;
  margin-bottom: 15px;
  color:#3f3f3f;
  font-size: 16px;
  padding-left: 20px;
}
.mylist2{
  display: none;
  position: relative;
}
.mylist2 p{
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
  margin:15px 0px 15px 35%;
  background-color: #D3D4DA;
  width:30%;
}
.fa-angle-left{
  position: absolute;
  top:-85px;
  left:30px;
  font-size: 3em;
  color:#dfdfdf;
}
/* 足の画像 */
.footimage{
  position: relative;
  height:60%;
}
.foot{
  zoom: 0.25;
  height:auto;
  position: absolute;
  margin-top: 10px;
}
.l1{
  top:93px;
  left:217px;
}
.l2{
  top:93px;
  left:427px;
}
.l3{
  top:511px;
  left:239px;
}
.l4{
  top:853px;
  left:262px;
}
.r1{
  top:93px;
  right:217px;
}
.r2{
  top:93px;
  right:427px;
}
.r3{
  top:511px;
  right:239px;
}
.r4{
  top:854px;
  right:262px;
}
.button2{
  text-align: center;
  /* padding-top: 80px; */
}
.button2 button{
  width:35%;
  line-height: 35px;
  padding: 5px 0px;
  color:white;
  margin-top:20px;
  font-size: 20px;
}
#henkou{
  background-color: #4169e1;
  border:none;
}
#kettei{
  background-color: #4169e1;
  border:none;
}

/* シート３ */
.senntaku{
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
  margin:15px 0px;
}
#gravity1{
  display: none;
}
#gravity2{
  display: inline;
}
#container{
  width: 100%;  
  height:100%;
}


/* footer */
footer{
  height: auto;
  padding-top: 20px;
  position: fixed;
  bottom: 0px;
}
footer button{
  padding: 10px 0px;
  border:none;
  width:calc(100vw/3);
  background-color: #FFEEC7;
}
footer i{
  font-size: 3em;
}
.fa-shoe-prints{
  transform: rotateZ(-90deg);
  width:50px;
}
#center{
}
#left{
  color:#f08b72;
}
#center{
  color:#FFFAFA;
}
#right{
  color:#FFFAFA;
}